openapi: 3.0.0
info:
  title: Rudex
  description: >
    Authentication service
  version: "0.1"
  x-displayName: Authentication service

servers:
  - url: https://app.42pasila.vn/rudex
    description: Production

paths:
  /login:
    post:
      summary: Login a user and return authentication tokens
      description: >
        Authenticates a user using email/username and password, returning
        a short-lived access token and a refresh token.
      tags:
        - Authentication
      parameters:
        - $ref: "#/components/parameters/rudexUserId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequestBody"
      responses:
        "200":
          description: Successful login response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponseBody"
        "400":
          $ref: "#/components/responses/APIErrorResponse"
        "401":
          $ref: "#/components/responses/APIErrorResponse"
        "500":
          $ref: "#/components/responses/APIErrorResponse"

components:
  parameters:
    rudexUserId:
      name: rudexUserId
      in: query
      description: Unique ID of a Rudex user (optional)
      required: false
      schema:
        $ref: "#/components/schemas/rudexUserId"

  schemas:
    rudexUserId:
      type: string
      description: Rudex user identifier (string). Use UUID if you require a UUID format.
      example: "123e4567-e89b-12d3-a456-426614174000"

    LoginRequestBody:
      type: object
      additionalProperties: true
      required:
        - username
      properties:
        username:
          type: string
        password:
          type: string
          format: password
        googleUserId:
          type: string

    LoginResponseBody:
      type: object
      required:
        - accessToken
        - accessTokenExpiryDate
        - refreshToken
        - userId
      properties:
        accessToken:
          type: string
          description: JWT access token used for authenticated requests.
        accessTokenExpiryDate:
          type: string
          format: date-time
          description: Expiration date and time of the access token.
        refreshToken:
          type: string
          description: Token used to refresh access tokens.
        userId:
          type: string

  responses:
    APIErrorResponse:
      description: API error response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              type:
                type: string
              message:
                type: string
              stack:
                type: string
              info:
                type: object
