openapi: 3.0.0
info:
  title: Rudex
  description: >
    Authentication service
  version: "0.1"
  x-displayName: Authentication service

servers:
  - url: https://app.42pasila.vn/rudex
    description: Production

paths:
  /login:
    post:
      summary: Login a user and return authentication tokens
      description: >
        Authenticates a user using email/username and password, returning
        a short-lived access token and a refresh token.
      tags:
        - User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequestBody"
      responses:
        "200":
          description: Successful login response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponseBody"
        "400":
          $ref: "#/components/responses/APIErrorResponse"
        "401":
          $ref: "#/components/responses/APIErrorResponse"
        "500":
          $ref: "#/components/responses/APIErrorResponse"

  /register:
    post:
      summary: Register a user
      description: >
        Create a new user with provided input.
      tags:
        - User registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequestBody"
      responses:
        "201":
          description: New user created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterResponseBody"
        "400":
          $ref: "#/components/responses/APIErrorResponse"
        "409":
          $ref: "#/components/responses/APIErrorResponse"
        "500":
          $ref: "#/components/responses/APIErrorResponse"

  /2fa/setup:
    post:
      summary: Setup Two-Factor Authentication
      description: >
        Generate a secret and QR code for setting up 2FA.
        User needs to scan the QR code with Google Authenticator app to enable 2FA.
      tag: -Two-Factor Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetUpTwoFactorRequestBody"
      responses:
        "201":
          description: Sucessfully enabling 2FA
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetUpTwoFactorResponseBody"
      "400":
        $ref: "#/components/responses/APIErrorResponse"
      "409":
        $ref: "#/components/responses/APIErrorResponse"
      "500":
        $ref: "#/components/responses/APIErrorResponse"

components:
  parameters:
    rudexUserId:
      name: rudexUserId
      in: query
      description: Unique ID of a Rudex user (optional)
      required: false
      schema:
        $ref: "#/components/schemas/rudexUserId"

  schemas:
    rudexUserId:
      type: string
      description: Rudex user identifier (string). Use UUID if you require a UUID format.
      example: "123e4567-e89b-12d3-a456-426614174000"

    LoginRequestBody:
      type: object
      additionalProperties: false
      required:
        - username
      properties:
        username:
          type: string
        password:
          type: string
          format: password
        googleUserId:
          type: string

    LoginResponseBody:
      type: object
      required:
        - accessToken
        - accessTokenExpiryDate
        - refreshToken
        - userId
      properties:
        accessToken:
          type: string
          description: JWT access token used for authenticated requests.
        accessTokenExpiryDate:
          type: string
          format: date-time
          description: Expiration date and time of the access token.
        refreshToken:
          type: string
          description: Token used to refresh access tokens.
        userId:
          type: string

    RegisterRequestBody:
      type: object
      additionalProperties: false
      required:
        - username
        - password
        - email
      properties:
        username:
          type: string
        password:
          type: string
        email:
          type: string

    RegisterResponseBody:
      type: object
      additionalProperties: false
      required:
        - rudexUserId
      properties:
        rudexUserId:
          $ref: "#/components/schemas/rudexUserId"

    SetUpTwoFactorRequestBody:
      type: object
      additionalProperties: false
      required:
        - userId
        - userEmail
      properties:
        userId:
          type: string
          description: User ID
        userEmail:
          type: string
          format: email
          description: User email for 2FA setting up

      SetUpTwoFactorResponseBody:
        type: object
        additionalProperties: false
        required:
          - secret
          - qrCode
        properties:
          secret:
            type: string
            description: Base42 encoded secret key
          qrCode:
            type: string
            description: Base64 encoded QR code image (data URL)

  responses:
    APIErrorResponse:
      description: API error response
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              type:
                type: string
              message:
                type: string
              stack:
                type: string
              info:
                type: object
